<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ month | title }} </title>
</head>
<body>
    <! we user | title to capitilize first letter ref : https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ !>
    <h1>{{ month | title }} Month Challenge</h1>
    {% if text is not None %}
        <h2>{{ text | title }}</h2> <! django has django templet lang to make html to dynamic, with this {{ name }} django will hardcode the text inside html !>
    {% else %}
        <p> There is no challenge for this month </p>
    {% endif %}

</body>
</html>