{% extends 'base.html' %} <!this is required to inform django to use the base html file!>

<!below contend is injected to the base templete and it uses the common structure !>
{% block page_title %}
{{ months_name | title }} Index </title>
{% endblock page_title %}


{% block content  %}
    {% include 'challenges/includes/header.html' %}   <!we include navigation to index path !>
    <ul> 
        {% for months_name in months %} 
            <li><a href="{% url 'challanges_urlpath' months_name %}">{{ months_name | title}}</a><li>
        {% endfor %}
         
    </ul>
{% endblock content  %}
